@import 'tailwindcss';
@plugin 'daisyui' {
	themes: emerald --default;
}

@layer base {
	html,
	body {
		@apply m-0 h-full w-full overflow-hidden p-0;
	}

	body {
		@apply bg-base-100 text-base-content;
	}

	:global(.excalidraw) {
		width: 100%;
		height: 100%;
	}
}
