@import 'tailwindcss';
@plugin "daisyui";

@layer base {
	html,
	body {
		@apply m-0 p-0 w-full h-full overflow-hidden;
	}

	body {
		@apply bg-base-100 text-base-content;
	}

	:global(.excalidraw) {
		width: 100%;
		height: 100%;
	}
}
